{% extends 'base.html.twig' %}

{% block title %}Liste des Véhicules Magiques{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-primary"><i class="bi bi-moon-stars"></i>{{ 'vehicles.title'|trans }}</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success" href="{{ path('vehicle_edit_or_create') }}">
                <i class="bi bi-magic"></i> Ajouter un véhicule magique
            </a>
        {% endif %}
    </div>

    {{ form(form) }}


    {{ knp_pagination_render(pagination) }}

    <div class="row">
        {% for vehicle in pagination.items %}
            <div class="col-xl-3 col-xxl-3 col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm border-primary h-100 d-flex flex-column">
                    <a href="{{ path('details_vehicle', {id: vehicle.id}) }}">
                        <img src="{{ asset(vehicle.imagePath) }}" class="card-img-top object-fit-cover" alt="{{ vehicle.name }}" height="300">
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-primary">
                            <a href="{{ path('details_vehicle', {id: vehicle.id}) }}" class="text-decoration-none text-primary">
                                <i class="bi bi-broom"></i> {{ vehicle.name }}
                            </a>
                        </h5>
                        <p class="card-text flex-grow-1">
                            <i class="bi bi-bookmark-star"></i> <strong>Type :</strong> {{ vehicle.typeVehicle.name }}<br>
                            <i class="bi bi-people-fill"></i> <strong>Capacité :</strong> {{ vehicle.capacity }} passagers<br>
                            <i class="bi bi-gem"></i> <strong>Tarif :</strong> {{ vehicle.price }} galions / jour<br>
                            <i class="bi bi-stars"></i> <strong>Enchantements :</strong>
                            {% for f in vehicle.features %}
                                {{ f.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <div class="d-grid gap-2 mt-auto">
                            <a class="btn btn-info" href="{{ path('details_vehicle', {id: vehicle.id}) }}">
                                <i class="bi bi-crystal-ball"></i> Détails
                            </a>
                            <a class="btn btn-dark" href="{{ path('reservation_vehicle', {id: vehicle.id}) }}">
                                <i class="bi bi-calendar3"></i> Réserver
                            </a>
                        </div>
                        <hr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="d-flex justify-content-between">
                                <a href="{{ path('vehicle_edit_or_create', { id: vehicle.id }) }}" class="btn btn-warning btn-sm">
                                    <i class="bi bi-quill"></i> Modifier
                                </a>
                                <a href="{{ path('vehicle_confirm_delete', { id: vehicle.id }) }}" class="btn btn-danger btn-sm">
                                    <i class="bi bi-skull"></i> Supprimer
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
